$main-blue: #1e4d7b;
$grey: #d3d3d3;
$dark-grey: #666666;
$pink: #ff6b61;
$green: #679267;
$bright-attention: #ffc107;
$font-main: 'Comfortaa', cursive;
$font-playful: 'Annie Use Your Telescope', cursive;
$font-signature: 'Homemade Apple';
