@import './_variables';

//fonts
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Patrick+Hand&display=swap');

//resets

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: $font-main;
  background-color: $grey;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

//globals

.pink {
  font-weight: bolder;
  color: $pink;
}
