@import '../../styles/variables.scss';

.lights-panel {
  position: relative; /* Make the lights panel the relative parent for modal */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-column: 1/2;
  grid-row: 3/4;
  border: 1px solid $neon-pink;
  border-radius: 5px;
  padding: 1rem;
  background-color: rgba(10, 31, 68, 0.5);
  box-shadow: 0 0 10px $neon-pink;
}

.lights-list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1rem;
  padding: 1rem;
}

.light {
  border: 3px solid silver;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: darken(
    $neon-pink,
    40%
  ); // Adjust this to your desired "dim" color
}

.light.active {
  background-color: $neon-pink;
  box-shadow: 0 0 10px $neon-pink;
}

.light-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  padding: 0 1rem 1rem;
}

.lights-button {
  // border: 3px solid silver;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: linear-gradient(135deg, $neon-pink 20%, $cosmic-black 100%);
  color: $cosmic-black;
  // box-shadow: 0 0 10px 2px $neon-pink;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(135deg, $electric-blue 60%, $neon-pink 100%);
    box-shadow: 0 0 12px 4px $neon-pink;
  }

  &:active {
    background: linear-gradient(135deg, $violet-purple 60%, $neon-pink 100%);
    box-shadow: inset 0 0 8px $neon-pink;
  }
}

/* Lights Modal Styling */
.lights-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 31, 68, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lights-modal-content {
  background-color: $nebula;
  padding: 2rem;
  border-radius: 10px;
  color: $neon-pink;
  font-family: 'VT323', monospace;
  text-align: center;
  box-shadow: 0 0 20px $neon-pink;
  font-size: 2rem;
}

.lights-modal-close {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: $cosmic-black;
  color: $neon-pink;
  border: none;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: $electric-blue;
    color: $cosmic-black;
  }
}
