@import '../../styles/_variables.scss';

/* Navbar layout */
.navbar {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  background-color: $main-blue;
  padding: 1rem 4rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo styling */
.navbar-logo {
  color: $pink;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: $font-playful;
}

/* Desktop links */
.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-links ul {
  display: flex;
}

/* Link styling */
.nav-link {
  color: $bright-attention;
  text-decoration: none;
  font-family: $font-main;
  font-size: 1.2rem;
  padding: 0.8rem 0.5rem;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 0.2rem;
  text-decoration-color: $pink;
  color: $green;
}

/* Active link styling */
.active {
  font-weight: bolder;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 0.2rem;
  text-decoration-color: $bright-attention;
  color: $pink;
}

/* Mobile menu icon (only visible on mobile) */
.mobile-menu-icon {
  display: none;
}

/* For mobile view */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .mobile-menu-icon {
    display: block;
    cursor: pointer;
  }
}
