@import '../../styles/variables.scss';

.project-h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0 0;
  color: $bright-attention;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 1rem;
}

.deployment-link {
  text-decoration: underline;
  text-decoration-color: $bright-attention;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.2rem;
}

.deployment-link:hover {
  color: $pink;
  text-decoration-color: $main-blue;
}

.deployment-link,
.no-deploy {
  color: $main-blue;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.td-icon,
.pom-icon {
  height: 3rem;
}

.gh-icon {
  height: 2.5rem;
}

.gh-icon,
.pom-icon,
.td-icon {
  width: auto;
  animation: wiggle 3s ease-in-out infinite;
}

.gh-link,
.pom-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
